<!-- 主容器 -->
<div class="main-container">
  <!-- header -->
  <div class="header">
    <div class="logo"></div>
    <div class="link-area"></div>
  </div>

  <!-- nav bar -->
  <div class="nav-bar">
    <div class="nav-wrapper">
      <div class="tab">
        <span>首頁</span>

      </div>
      <div class="tab">
        <span>最新車款</span>
        <ul class="drop-down">
          <li><a>登山車</a></li>
          <li><a>公路車</a></li>
        </ul>
      </div>
      <div class="tab">
        <span>騎士裝備</span>
        <ul class="drop-down">
          <li><a>自行車服飾</a></li>
          <li><a>手套及配件</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- main content -->
  <div class="main-content">
    <div class="content-wrapper">
      <div class="banner">
        <div class="imgs">
          <img src="" alt="">
          <img src="" alt="">
          <img src="" alt="">
          <img src="" alt="">
          <img src="" alt="">
        </div>
        <div class="arrow right"></div>
        <div class="arrow left"></div>
      </div>
      <div class="info-area"></div>
      <div class="helmets"></div>
      <div class="product-area"></div>
      <div class="event-area"></div>
    </div>
  </div>

  <!-- 頁尾 -->
  <div class="footer">
    <div class="copyright"></div>
    <div class="link-area"></div>
    <div class="goto-top"></div>
  </div>

</div>